<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">    
    <i class="material-icons" (click)="sidenav.toggle()">menu</i>    
  </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)] = "opened">
       Prueba de menu
    </mat-sidenav>
    <mat-sidenav-content>
      
        <div>
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    
    
    </mat-sidenav-content>
  </mat-sidenav-container>


<!-- the component as the initial center of the map: -->
