
<!doctype html>
<html lang="en">
 
  
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Login</a>
              <a class="dropdown-item" href="#">Logout</a>
              <a class="dropdown-item" href="#">Register</a>
              <a class="dropdown-item" href="#">Report a Crime</a>
            </div>
          </li>
        </ul>
        
      </div>
    </nav>

    <main role="main" class="container">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </main>
    <!-- /.container -->
    
  </body>
</html>
 

<!-- The content below is only a placeholder and can be replaced.
<mat-toolbar color="primary">    
    <i class="material-icons" (click)="sidenav.toggle()">menu</i>    
  </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)] = "opened">
       Prueba de menu
    </mat-sidenav>
    <mat-sidenav-content>
      
        <div>
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    
    
    </mat-sidenav-content>
  </mat-sidenav-container> -->


<!-- the component as the initial center of the map: -->
